@model PWEBLabTestesOnline.Models.Vacancies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacancies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Laboratory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Laboratory.LaboratoriesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opening)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enclosure)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VacanciesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
