@model PWEBLabTestesOnline.Models.Procedure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Procedure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeAnalysisTests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeAnalysisTests.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProcedureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
