@model IEnumerable<PWEBLabTestesOnline.Models.Procedure>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="ListByType" method="get" class="form-inline">
    <b>Filter by test type: </b>

    <select name="TypeAnalysisTestsId" onchange="submit()" class="form-control" asp-items="ViewBag.TypeAnalysisTestsId">
        <option value="0">All tests</option>
    </select>

</form>
<br />
<table class="table" id="tableProcedures">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeAnalysisTestsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureDescription)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typeAnalysisTests.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedureDescription)
            </td> 
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcedureId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcedureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script src="jquery-3.5.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#tableProcedures').DataTable();
    } );


</script>
}
