@model PWEBLabTestesOnline.Models.UsersViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd class = "col-sm-10">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd class = "col-sm-10">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd class = "col-sm-10">
    </dl>
    <br /><br />
    @if(Model.Laboratories != null && Model.Laboratories.Count > 0)
    {
       <h4>User Laboratories</h4>
        <table class="table">
        <thead>
            <tr>
                <th>
                    Laboratory Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Phone Number
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lab in Model.Laboratories) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => lab.LaboratoriesName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => lab.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => lab.PhoneNumber)
                        </td>
                    </tr>
             }
        </tbody>
    </table> 
    }
    
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
