@model PWEBLabTestesOnline.Models.Laboratories

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Laboratories</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboratoriesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboratoriesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Manager Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.FirstName) @Html.DisplayFor(model => model.Manager.LastName)
        </dd>
        <dt class = "col-sm-2">
            Manager Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LaboratoriesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
