@model IEnumerable<PWEBLabTestesOnline.Models.Laboratories>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tableLaboratories">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LaboratoriesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Manager Email
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LaboratoriesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager.Email)
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LaboratoriesId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LaboratoriesId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LaboratoriesId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script src="jquery-3.5.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#tableLaboratories').DataTable();
    } );


</script>
}
