@model PWEBLabTestesOnline.Models.Schedules

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">
                                    <h1>Details Schedule</h1>
                                </div>
                                <dl class="row">
                                    <dt class="col-sm-10">
                                        @Html.DisplayNameFor(model => model.AppointmentTime)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.AppointmentTime)
                                    </dd>
                                    <dt class="col-sm-10">
                                        @Html.DisplayNameFor(model => model.Result)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Result)
                                    </dd>
                                    <dt class="col-sm-10">
                                        @Html.DisplayNameFor(model => model.Laboratory)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Laboratory.LaboratoriesName)
                                    </dd>
                                    <dt class="col-sm-10">
                                        @Html.DisplayNameFor(model => model.TestType)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.TestType.Name)
                                    </dd>
                                    <dt class="col-sm-10">
                                        @Html.DisplayNameFor(model => model.Client)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Client.Email)
                                    </dd>
                                    <dt class="col-sm-10">
                                        @Html.DisplayNameFor(model => model.Techinician)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Techinician.Email)
                                    </dd>
                                </dl>
                                <div>
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

