@model PWEBLabTestesOnline.Models.Schedules

@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.Laboratory.LaboratoriesName</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div id="error_span" asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SchedulesId" />
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label"></label>
                @Html.DisplayFor(model => model.AppointmentTime)
            </div>
            <div class="form-group">
                <label asp-for="TestTypeId" class="control-label"></label>
                @Html.DisplayFor(model => model.TestType.Name)
            </div>
            <div class="form-group">
                <label class="control-label">Client</label>
                @Html.DisplayFor(model => model.Client.Email)
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <select id="ResultSelectList" disabled asp-for="Result" onclick="displayErrorMessage()" onchange="refreshResultInput()" asp-items="Html.GetEnumSelectList<TestResult>()" class="form-control"></select>
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            @*============= Hiden =============*@
            <div class="form-group" id="other_input" style="display: none">
                <label asp-for="Description" class="control-label"></label>
                <input id="other_input1" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*=================================*@



            @* ================================================= CheckList ==========================================================*@


            <hr />
            @foreach (var procedure in Model.CurrentChecklist.Procedures)
            {
                <div>
                    <input type="checkbox" name="ProcedureId" onClick="refreshCheckBox()" value="@procedure.ProcedureId" />
                    <label>@procedure.ProcedureDescription</label>
                </div>
            }
            <hr />

            <div class="form-group">
                <input id="btnSave" type="submit" value="Save" class="btn btn-primary" disabled/>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var isAllChecked = false;

    function refreshResultInput() {
       if( document.getElementById("ResultSelectList").value == 3 ) {
            document.getElementById("other_input").style = "display: block";
       }
       else
            document.getElementById("other_input").style = "display: none";
    }

    function refreshCheckBox(){
        var numberNotChecked = $('input:checkbox:not(":checked")').length;

        if( numberNotChecked == 0 ) {
            document.getElementById("ResultSelectList").disabled  = false;
            document.getElementById("other_input1").disabled  = false;
            document.getElementById("btnSave").disabled  = false;
            isAllChecked = true;
       }
       else{
           document.getElementById("ResultSelectList").disabled  = true;
           document.getElementById("other_input1").disabled  = true;
           document.getElementById("btnSave").disabled  = true;
           isAllChecked = false;
       }
    }

    function displayErrorMessage() {
        if(isAllChecked)
            document.getElementById("error_span").value = "";
        else
             document.getElementById("error_span").value = "Fill in all the checkboxes to insert a result and save it";
    }
</script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}


}